.footer__description {
  font-size: 18px;
  line-height: 1.21;
  color: rgba(84, 84, 84, 1);
  margin-bottom: 60px;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .footer__description {
    margin: auto;
    padding: 0 20px;
    padding-bottom: 36px;
    font-size: 14px;
  }
}
