.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-style: solid;
  border-bottom-width: thin;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-width: 1px;
  border-block-color: #545454;
}

@media screen and (max-width: 480px) {
  .header__image {
    width: 126px;
    height: 24px;
  }
}
