.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  padding: 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  padding-left: 36px;
  padding-top: 34px;
  padding-right: 36px;
  padding-bottom: 36.1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url("../images/Close\ Icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  justify-self: right;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__close-image {
  rotate: 180deg;
}

.modal__heading {
  margin: 0;
  margin-bottom: 54px;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.modal__input:first-of-type {
  margin-bottom: 29px;
  border-radius: 1px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal__input:last-of-type {
  margin-top: 29px;
  margin-bottom: 48px;
  border-radius: 1px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal__button {
  background-color: black;
  color: white;
  border-radius: 2px;
  height: 50.15px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__container_type_image-preview {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  margin: 0;
  padding: 8px 0 0 0;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: left;
}

@media screen and (max-width: 480px) {
  .modal__container {
    margin-top: 123px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 22px 0 22px;
    max-width: 282px;
    max-height: 322px;
  }

  .modal__close {
    right: 0px;
    top: -70px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 1.21;
    margin-bottom: 75px;
  }

  .modal__input:first-of-type {
    margin-bottom: 30px;
  }

  .modal__input:last-of-type {
    margin-top: 0px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 380px) {
  .modal__container {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 123px;
    max-width: 238px;
  }

  .modal__close {
    top: -40px;
  }
}
