.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 0;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description button";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
  align-items: baseline;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 7px;
  grid-area: title;
  text-wrap: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit\ button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 22px;
  grid-area: button;
  border: 1px;
  border-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.profile__edit-button:hover {
  background: transparent url(../images/editbutton-hover.svg) center no-repeat;
}

.profile__add-button {
  background-color: transparent;
  background-image: url(../images/vector-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border-style: solid;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.21;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.14;
    font-family: "Inter", Arial, sans-serif;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding-top: 42px;
  }

  .profile__image {
    width: 120px;
    height: 120px;
    margin: 0 0 20px 0;
  }

  .profile__edit-button {
    background: transparent url(../images/edit-mobile.svg) center no-repeat;
    width: 18px;
    height: 18px;
    border-style: solid;
  }

  .profile__edit-button:hover {
    opacity: 0.6;
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.05;
  }
}
