@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
  .header__image {
    width: 126px;
    height: 24px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
  }

  .footer {
    margin-bottom: 36px;
  }

  .footer__description {
    margin: auto;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 800px) {
  .page__section {
    max-width: 800px;
    margin: auto;
    width: 100%;
    position: relative;
  }

  .cards {
    margin-top: 51px;
  }
}
